.threeBloc {
    display: flex;
    justify-content: space-around;
    margin: 30px 0;
}

.bloc {
    width: 30%;
    background-color: rgb(251, 248, 238);
    border-radius: 15px;
}

h2 {
    text-align: center;
}

.blocText {
    /* width: 200px; */
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    overflow: hidden;
    padding: 20px;
}