.button {
    /* float: right; */
}

.navLogo {
    width: 100px;
    height: 100px;
}

.navBackground {
    position: relative;
    width: 90%;
    height: 100px;
    opacity: 0.7;
}

.navTitle {
    position: absolute;
    top: 2%;
    left: 21%;
    /* background-color: white ; */
    /* color: white;
    font-weight: bold; */
    border-radius: 50%/25%;
    font-size: 35px;
    padding: 15px;
    font-family: cursive;
    word-spacing: 15px;
}

.navmenu {
    width: 90%;
    padding: 2% 0;
    margin: auto;
    font-size: 24px;
}
.menu-desktop {
    display: flex;
    justify-content: space-around;
}

.navlinktext {
    color: black;
    text-decoration: none;
    font-family: cursive;
}

.navlinktext:hover{
    color: blue;
}

